:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--bg-dark : #111111;
	--bg-dark2: #101418;
	--bg-dark3: #0c111f;
	--bg-dark4: #0c1222;
	--bg-dark5: #234181 ;
	--bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
	--bg-carolina-blue: #0ea6ec;
	--bg-prussian-blue: hsla(216, 33%, 20%, 1);
	--bg-oxford-blue: #131b30;
	--bg-oxford-blue-2: #0f1729;
  
	--text-white: hsla(0, 0%, 100%, 1);
	--text-alice-blue: hsla(216, 100%, 95%, 1);
	--text-columbia-blue: hsla(199, 69%, 84%, 1);
	--text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
	--text-carolina-blue: #0ea6ec;
	--text-light-blue: #07a8ed ;
	--text-shadow-blue: hsla(217, 24%, 59%, 1);
	--text-slate-gray: hsla(217, 17%, 48%, 1);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    background-color: var(--bg-dark4);
    overflow-x: hidden;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    /* line-height: 1.6; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    min-width: 100vw;
}

.activityMain{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 110px;
    width: 100%;
    max-width: 950px;
    /* border: 1px solid red; */

}

.activityMain h3{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 30px;
}


.grps{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* flex-direction: column; */
    /* margin-top: 110px; */
    width: 100%;
    max-width: 950px;
    /* border: 1px solid red; */
}

.leftActivity{
    display: flex;
    flex-direction: column;
    width: 20%;
    /* border: 1px solid red; */
}

.activityGrpL{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #0ea6ec9d;
    background-color: #0ea6ec15;
    transition: all .2s;
}

.activityGrpL a{
    color: white;
    text-decoration: none;
}

.activityGrpL:hover{
    background-color: #0ea6ec2e;
}

.activityGrpL.active{
    background-color: #0ea6ec73;
    border: 1px solid #0ea6ecc7;
}

.rightActivity{
    display: flex;
    flex-direction: column;
    width: 75%;
    /* border: 1px solid red; */
}

.activityGrpR{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    font-size: 1rem;
    transition: all .2s;
    line-height: 1.4rem;
    /* cursor: pointer; */
}

.activityGrpR:nth-child(odd){
    background-color: #0ea6ec15;
}

.activityGrpR:hover{
    background-color: #2db7f73f;
}

.activityGrpR button{
    background-color: transparent;
    border: 1px solid rgba(56, 166, 255, 0.678);
    padding: 5px 10px;
    border-radius: 5px;
    color: rgba(36, 243, 243, 0.76);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s;
}

.activityGrpR button a{
    color: rgba(36, 243, 243, 0.76);
    text-decoration: none;
    transition: all .2s;
}

.activityGrpR button:hover{
    background-color: rgba(36, 243, 243, 0.76);
    color: var(--bg-dark4);
}

.activityGrpR button:hover a{
    color: var(--bg-dark4);
}

.activityGrpR form{
    display: inline;
}