:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--bg-dark : #111111;
	--bg-dark2: #101418;
	--bg-dark3: #0c111f;
	--bg-dark4: #0c1222;
	--bg-dark5: #234181 ;
	--bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
	--bg-carolina-blue: #0ea6ec;
	--bg-prussian-blue: hsla(216, 33%, 20%, 1);
	--bg-oxford-blue: #131b30;
	--bg-oxford-blue-2: #0f1729;
  
	--text-white: hsla(0, 0%, 100%, 1);
	--text-alice-blue: hsla(216, 100%, 95%, 1);
	--text-columbia-blue: hsla(199, 69%, 84%, 1);
	--text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
	--text-carolina-blue: #0ea6ec;
	--text-light-blue: #07a8ed ;
	--text-shadow-blue: hsla(217, 24%, 59%, 1);
	--text-slate-gray: hsla(217, 17%, 48%, 1);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	background: linear-gradient(var(--bg-dark4) 50% , var(--bg-dark5)) ;
    color: white;
	display: flex ;
	justify-content: center;
	align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    /* border: 1px solid red; */
}

.color{
    font-size: 1.6em;
	color: var(--text-light-blue);
}

h1{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 20px;
}

form{
    border: 1px solid green;
    width: 100%;
    padding: 30px 40px;
	background: #ffffff1a;
	color: #fff;
	border-radius: 10px;

	border: 1px solid var(--text-light-blue);
}

input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	background-color: #0000002d;
	border: 1px solid #5e5e5eaa;
	border-radius: 5px;
	color: white;
    margin-bottom: 20px;
    margin-top: 7px;
}

input[type='text']:focus {
	outline: none;
}

input[type='password'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	background-color: #0000002d;
	border: 1px solid #5e5e5eaa;
	border-radius: 5px;
	color: white;
    margin-bottom: 20px;
    margin-top: 7px;
}

input[type='password']:focus {
	outline: none;
}

.submitBtn {
	margin-top: 20px;
	width: 100%;
	background: var(--text-light-blue);
	border: 1px solid var(--text-light-blue);
	color: #fff;
	height: 40px;
	border-radius: 5px;
	transition: .2s;
}

.submitBtn:hover {
	background: #00000000;
	color: #fff;
}

a{
    color: var(--text-light-blue);
    text-decoration: none;
}

a:visited{
    color: var(--text-light-blue);
}

.errTxt{
	color: rgb(247, 87, 87);
	margin-top: -20px;
	font-size: 12px;
}