@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--bg-dark : #111111;
	--bg-dark2: #101418;
	--bg-dark3: #0c111f;
	--bg-dark4: #0c1222;
	--bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
	--bg-carolina-blue: #0ea6ec;
	--bg-prussian-blue: hsla(216, 33%, 20%, 1);
	--bg-oxford-blue: #131b30;
	--bg-oxford-blue-2: #0f1729;
  
	--text-white: hsla(0, 0%, 100%, 1);
	--text-alice-blue: hsla(216, 100%, 95%, 1);
	--text-columbia-blue: hsla(199, 69%, 84%, 1);
	--text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
	--text-carolina-blue: #0ea6ec;
	--text-light-blue: #07a8ed ;
	--text-shadow-blue: hsla(217, 24%, 59%, 1);
	--text-slate-gray: hsla(217, 17%, 48%, 1);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	background-color: var(--bg-dark4);
	display: flex ;
	justify-content: center;
	align-items: center;
	min-width: 100vw ;
	min-height: 100vh;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	color: white;
	font-size: 20px;
}

/* Chat Page */

.chat-container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.chat-header {
	background: #0000004f;
	color: #fff;
	height: 80px;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	height: calc(100vh - 80px);
}

.middle{
	height: 100%;
	/* border: 1px solid red; */
}

.chat-sidebar {
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
	/* hide-scrollbar */
	scrollbar-width: none;
	border: 1px solid #ffffff13;
}

.color{
	color: var(--text-light-blue);
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(255, 255, 255, 0.08);
	padding: 10px;
	margin-bottom: 20px;
}

.uploadC{
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	border: 1px solid #ffffff13;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	height: calc(100vh - 120px);
	overflow-y: scroll;
	/* hide-scrollbar */
	scrollbar-width: none;
	border: 1px solid #ffffff13;
	color: rgba(255, 255, 255, 0.8);
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #ffffff18;
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #8b8b8b;
	font-size: 13px;
	
}

.chat-form-container {
	position: sticky;
	top: auto;
	bottom: 0;
	height: 40px;
	width: 100%;
}

.chat-form-container form {
	display: flex;
}

.btn2{
	background: var(--text-light-blue);
	border: 1px solid var(--text-light-blue);
	color: #fff;
	height: 40px;
	width: 40px;
	transition: .2s;
	font-size: 20px;
}

.btn2:hover {
	background: #00000000;
	color: #fff;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	padding-left: 14px;
	height: 40px;
	flex: 1;
	background-color: #0000002d;
	border: none;
	color: white;
}

.chat-form-container input[type='text']:focus {
	outline: none;
}

.uploadF{
	/* border: 1px solid red; */
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#upload{
    width: 100%;
    padding: 5px;
    height: 40px;
    margin: 20px 0;
    background: var(--bg-carolina-blue);
    color: var(--bg-dark3);
    border: 1.5px solid var(--bg-carolina-blue);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.2s;
    cursor: pointer;
}

#upload:hover{
	background: var(--bg-dark3);
	color: var(--bg-carolina-blue);
}

.uploadC{
	padding : 10px ;
	color : white;

}

.meet{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

#createMeet , #joinMeet{
	width: 100%;
	padding: 5px;
	height: 40px;
	margin: 20px 0;
	background: var(--bg-carolina-blue);
	color: var(--bg-dark3);
	border: 1.5px solid var(--bg-carolina-blue);
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 300;
	transition: 0.2s;
	cursor: pointer;
}

#meetId{
	width: 100%;
	padding: 5px;
	height: 40px;
	margin: 5px 0;
	background: #9695952a;
	color: white;
	border: none;
	border-bottom: 1.5px solid var(--bg-carolina-blue);
	/* border-radius: 5px; */
	font-size: 1rem;
	font-weight: 300;
	transition: 0.2s;
	cursor: pointer;
}

#meetId:focus{
	outline: none;
}



/* Join Page */
.join-container {
	max-width: 1000px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* border: 1px solid red; */
	

}

.right{
	width: 50%;
}

.left{
	color : white ;
}
.left h1{
	color: var(--text-light-blue);
	font-size: 50px;
}

/* .join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
} */

.join-main {
	padding: 30px 40px;
	background: #ffffff1a;
	color: #fff;
	border-radius: 10px;
	width: 100%;
	border: 1px solid var(--dark-color-a);

}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 10px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	background-color: #0000002d;
	border: none;
	color: white;
}

.join-main input[type='text']:focus {
	outline: none;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	background-color: #0000002d;
	border: none;
	color: white;
}

.join-main select option {
	background: var(--bg-dark4);
	color: #fff;
}

.join-main select:focus {
	outline: none;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
	background: var(--text-light-blue);
	border: 1px solid var(--text-light-blue);
	color: #fff;
	height: 40px;
	border-radius: 5px;
	transition: .2s;
}

.join-main .btn:hover {
	background: #00000000;
	color: #fff;
}


@media (max-width: 700px) {
	.chat-main {
		display: block;
		height: calc(100vh);
	}

	.chat-sidebar {
		display: none;
	}
	.upload{
		display: none;
	}
}

@media (min-width: 1000px) {
	.chat-messages .message{
		width: 60%;
	}
}


.chat-img{
	max-width : 80% ;
	max-height : 80% ;
	object-fit: cover;
}